#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px; 
  background-color: #ffffff;
  text-align: center;
  line-height: 60px; 
  opacity: 50%;
}

body {
  background-image: url('public/—Pngtree—black meat western food banner_1013905.jpg');
  
}

#navbar {

}

#MacroCalc {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
  margin-top: 50px;
  background-color: rgba(190, 190, 190, 0.5);
  border-radius: 10px;
  border-color: #ffffff;
  border-style: solid;
  color: #ffffff;
}

.food-finder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.food-finder-content {
  display: flex;
  max-width: 50%;
  background-color: rgba(190, 190, 190, 0.5);
  border-radius: 10px;
  border-color: #ffffff;
  border-style: solid;
}

.food-finder-form {
  flex: 1;
  padding: 50px;
}

.nutrition-card {
  flex: 1;
  padding: 30px;
}


.loginout {
  justify-content: end;

}

.username {
  font-size: large;
  font-weight: bold;
  padding-top: 7px;
  padding-right: 8px;
}

#MacroTable {
  background-color: rgba(190, 190, 190, 0.5);
  border-radius: 10px;
  border-color: #ffffff;
  border-style: solid;
  color: #ffffff;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
  margin-top: 100px;
}

